includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - verification/phpstan/extension.php

parameters:
    level: max
    strictRules:
        allRules: true
    paths:
        - autoload.php
        - bin
        - src
        - example
        - skeleton
        - tests
        - tools
        - verification
    tmpDir: tmp/phpstan
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
